.footer_container {
  color: #dddddd;
  padding: 5% 8%;
  padding-bottom: 3%;
  position: relative;
  top: 10px;
}
.footer_container h4 {
  font-size: 23px;
  font-weight: 500;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(221, 221, 221, 0.1);
}
.footer_most_contain {
  padding: 3% 0;
}
.footer_most_contain p {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
}
.footer_tags ul li {
  float: left;
  list-style: none;
  padding: 3px 10px;
  background-color: rgba(221, 221, 221, 0.1);
  margin: 1%;

  font-size: 14px;
  font-weight: 600;
  font-family: monospace;
  border-radius: 5px;
  color: #dddddd;
}
