.color_Change {
  background-color: rgba(216, 8, 8, 0.671) !important;
}
.all_heading_name {
  border-bottom: 2px solid #333333;
  margin: 5% 0;
}
.all_heading_name button {
  padding: 5px 10px;
  background-color: #333333;
  color: white;
  border: none;
}
